body {
  color: blue;
  background-color: #3D9E84;
  font-family: Helvetica, sans-serif;
}
h1 {
  color: #07557f;
  text-align: center;
  font-size: 80px;
  font-style: italic;
  font-weight: normal;
}
main {
  text-align: center;
}
button {
  margin-top: 100px;
  font-size: 24px;
  text-align: center;
  display: inline-flex;
}
.startMenu {
  margin: 0,auto;
  float: left;
}
.game {
  display: none;
}
.question {
  font-size: 40px;
  color: #07557f;
}
.choices {
  margin: 10px auto;
  display: inline-block;
  font-size: 20px;
}
.choices:hover {
  background-color: #2C8D73;
  padding-right: 10px;
  padding-left: 10px;
}
.rightOrWrong{
  display: none;
}
.end {
  display: none;
}
.ending {
  font-size: 40px;
}
.health-bar-box {
  display: inline-flex;
  justify-content: flex-start;
  max-width: 600px;
  width: 600px;
  height: 60px;
  border: 2px solid white;
  border-color: white;
  padding: 20px,1000px;
  /*background: red;*/
}
.health-bar {
  height: 60px;
  width: 600px;
  background: red;
}
.endWin {
  color: white;
  font-size: 40px;
}
